<!-- <p>add-edit-department works!</p> -->

<div class="modal-header">
    <h4 class="modal-title">{{ ModalTitle || '' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form #deptForm="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label">Deparment Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="DepartmentName" name="name">
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeModal()">Close</button>
    <button type="submit" (click)="addDepartment()" class="btn btn-primary" *ngIf="isNew">
        Submit
    </button>
    <button type="submit" (click)="editDepartment(deptForm.value)" class="btn btn-primary" *ngIf="!isNew">
        Save Changes
    </button>
  </div>